{% extends 'dmdashboard/base.html' %}

{% block content %}
<style type="text/css">
  .flash {
    position: absolute;
    right: 25%;
    left: 25%;
    padding: 10px;
    box-shadow: 2px 2px 2px #333;
    z-index: 10000;
    top: 60px;
  }
</style>
{% include 'dmdashboard/partials/party-modal.html' %}

{% include 'dmdashboard/partials/character-modal.html' %}

<div class="flash card col-lg-6 ml-auto mr-auto text-white card-success text-center"></div>
<h3>Hello, {{ user }}</h3>
<div class="row">
    <div id="parties" class="col">
        <h4>Parties</h4>
        <ul>
        	{% for party in parties %}
        	<li>{{ party.name }}</li>
        	{% empty %}
        	<li>You ain't got no parties</li>
        	{% endfor %}
        </ul>
    </div>
    <div id="characters" class="col">
        <h4>Character</h4>
        <ul>
            {% for character in characters %}
            <li>{{ character.name }}</li>
            {% empty %}
            <li>You ain't got no characters</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}