{% extends 'dmdashboard/base.html' %} {% block content %}

{% include 'dmdashboard/partials/party-modal.html' %} {% include 'dmdashboard/partials/edit-party.html' %}
<div class="flash card col-lg-6 ml-auto mr-auto text-white card-success text-center"></div>
<nav class="navbar navbar-light bg-light">
    <li class="navbar-brand" href="">Parties</li>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="" class="nav-link" data-toggle="modal" data-target="#create-party"><i class="material-icons">add</i></a>
        </li>
    </ul>
</nav>
<div id="parties" class="container-fluid">
    <div class="row">
        {% for party in parties %}
        <div class="col-lg-4 col-xl-3 col-md-6 my-1">
            <div class="card h-100">
                <div class="card-header">
                    &nbsp;{{ party.name }} {% if party.id == active.id %} <i class="material-icons md-18 float-left">star</i>{% endif %}<a data-toggle="modal" data-target="#edit-party" data-slug="{{ party.slug }}" class="party-link"><i class="material-icons float-right">edit</i></a>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled">
                    {% for character in characters %}
                        {% if character.party == party %}
                        <li>{{ character.name }}</li>
                        {% endif%}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% empty %}
        <p class='col text-center'>You haven't made a party yet! <a href="" data-toggle="modal" data-target="#create-party">Create one now!</a></p>
        {% endfor %}
    </div>
</div>
{% endblock %}
